.product {
    border: 1px solid #bec5c1;
    display: inline-block;
    width: 240px;
    height: 330px;
    margin: 5px 7px; 
    border-radius: 4px;
    background-color: white;
    padding: 1px 10px 10px 10px;
    box-shadow: 1px 0 3px 0 #aeaeae;
}

.product:hover {
    border-color: rgb(119, 144, 127);
    box-shadow:  1px 0 3px 0 #a0a0a0;
}

.product h5 {
    /* pull the element up */
    margin-top: -10px; 
}

.product .prices {
    display: flex;
}

.product .prices label {
    flex: 1;
}

.product img {
    width: 220px;
    height: 195px;
}


@media (max-width: 400px) {
    .product {
        width: 87%;
        margin-left: 2%;
        height: auto;
    }

    .product  img {
        width: 90%;
        height: auto;
        max-height: 500px;
    }
}



/*
.product {
    display: inline-block;
    margin: 5px 7px;
    border: 1px solid #6a6a6a;
    width: 240px;
    height: 340px;
    border-radius: 4px;
}

.product:hover {
border-color: chocolate;
}
.product .prices
{
    display: flex;
}
.product .prices label{
    flex: 1;
}

.product img{
    width: 220px;
    height: 190px;
}

.product .prices{
    display: flex;
}
*/